.slider_wrap {
  height: 100vh;
  overflow: hidden;
}
.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  padding: 0;
  transition: all 0.3s;
}

.dots_custom li.slick-active button {
  width: 23px;
  height: 8px;
  background: #b11313;
  border-radius: 20px;
}
